body {
  background-color: grey;
}

h1 {
  border: 1px solid black;
}

h2 {
  color: orange;
}

input {
  border: 2px solid rgb(144, 46, 89);
}

div p {
  background: red;
}

#text-block {
  border: 5px solid gray;
  width: 800px;
  height: 400px;
}

a {
  color: red;
}

#item-one {
  text-decoration: overline;
  color: orange;
}

.exit {
  background-color: whitesmoke;
  border: 4px dashed blue;
}

.plm {
  width: 600px;
  height: 300px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  background-color: pink;
}

td {
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

th {
  border-color: purple;
  border-width: 3px;
  border-style: solid;
}

a:visited {
  color: yellow;
}