h1{
	font-family: 'Rock Salt', cursive;
	text-align: center;
}

td {
  height: 180px;
  padding: 115px;
  border: 10px solid white;
}

#q{
	background-color: #F2FF49
}

#w{
	background-color: #FF2675
}

#e{
	background-color: #25CED1
}

#r{
	background-color: #5F4BB6
}

#t{
	background-color: #71F79F
}